@{
    ViewData["Title"] = "Dashboard Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> Welcome to the OneJax Dashboard</h1>
<p>This is the home page of the Strategic Dashboard.</p>
<p>Use the navigation menu to explore different sections of the dashboard.</p>